@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-Poppins scroll-smooth;
}
body {
  @apply box-border bg-gray-900 text-gray-100;
}
.btn-primary {
  @apply bg-hero font-semibold text-white md:mx-0 mx-auto rounded-full py-3 px-6 flex items-center gap-2;
}
#main_con {
  max-width: 1440px;
  margin: auto;
}

.aboutImg::after {
  @apply content-[''] w-full left-0 top-0 rounded-xl rotate-12 h-full absolute bg-halkaHero -z-10;
}

.swiper-pagination-bullet {
  @apply bg-white;
}

input,
textarea {
  @apply bg-gray-700 outline-none rounded-lg p-3;
}
::placeholder {
  @apply text-lg;
}

::selection {
  @apply bg-hero;
}
#hero-parent {
  height: 400px;
  width: 200px;
  overflow: hidden;
}
#hero {
  width: 400px;
  height: 100%;
  object-fit: cover;
  border-radius: 10%;
}
@media screen and (max-width: 576px) {
  #hero-parent {
    height: 300px;
    width: 80%;
    overflow: hidden;
  }
  #hero {
    width: 400px;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
  }
}
#my-icon {
  padding-left: 1rem;
}
#hire-me-parent {
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hire-me-img {
  width: 320px;
  height: 350px;
}
